.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;
  padding: 13px 28px 14px;
  border-radius: 30px;
  color: #282828;
}

.filter {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;
}

.filterActive .btn {
  color: #fff;
  background-color: #282828;
}
