.button {
  background-color: transparent;
  border: 1px solid #fe5f1e;
  color: #fe5f1e;
  border-radius: 30px;
  padding: 14px 18px 13px;
  transition: all 0.25s;
  cursor: pointer;

  svg {
    transition: all 0.25s;
  }

  &:hover {
    background-color: #fe5f1e;
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}

.fill {
  background-color: #fe5f1e;
  color: #fff;
}
