.option {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #2c2c2c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  padding: 10px 8px;
  text-align: center;
  width: 100%;
  display: inline-block;

  & + & {
    margin-left: 5px;
  }

  &:disabled {
    box-shadow: none;
  }
}
